{% extends 'main/base.html' %}

{% block page-title %}
    {% if is_correct %}
        Всё верно! ✅
    {% else %}
        Ошибка! ❌
    {% endif %}
{% endblock %}

{% block page-lead %}
Ожидаемый ответ: {{correct_answer}}</br>
Ваш ответ: {{user_answer}}
{% endblock %}

{% block content %}

<h2>Ваш счет: {{score}}/10</h2>

<div>
        <form id = "question-form"  method="get" action="/question_flags">
            <button type="submit" class="btn btn-dark" name="button1">Следующий вопрос</button>
        </form>
</div>



{% endblock %}