{% extends 'main/base.html' %}

{% block page-title %}
География стран Европы
{% endblock %}

{% block page-lead %}
Добро пожаловать на сайт, посвящённый изучению географии стран Европы. Здесь вы найдете интересную и полезную информацию о европейских странах, их столицах, флагах и многом другом. <br/>

{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex">
            <div>
                <h3 class="fs-2">Список стран и столиц</h3>
                <p>Посетите эту страницу, чтобы узнать больше о странах Европы, их флагах и столицах.</p>
                <a href="/countries_list" class="btn btn-dark">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div>
                <h3 class="fs-2">Интересные факты о странах</h3>
                <p>На этой странице вы найдете интересные и познавательные факты о различных европейских странах.</p>
                <a href="/countries_descriptions" class="btn btn-dark">
                    Узнать больше
                </a>
            </div>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div>
            <h3 class="fs-2">Тест на знание столиц</h3>
            <p>Проверьте свои знания столиц европейских стран, ответив на 10 вопросов нашего теста.</p>
            <a href="/question/start" class="btn btn-dark">
                Пройти тест
            </a>
        </div>
        <div class="col d-flex">
            <div>
                <h3 class="fs-2">Тест на знание флагов</h3>
                <p>Угадывайте страны по их флагам в нашем тесте из 10 вопросов.</p>
                <a href="question_flags/start" class="btn btn-dark">
                    Начать тест
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}